 {% extends 'header.html' %}
 {% block title %}Ls Milks{% endblock %}
{% block content %}


<style>
  input[type=text],input[type=email],input[type=password],input[type=number],select {
  width: 17%;
  padding: 6px;
  border:  1px solid #D3D3D3;
  border-radius: 4px;
  resize: vertical;
}
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
</style>
</style>


<div class="container">
  <form method="post"action="" enctype="">
  {% csrf_token %}
  <center>
     <h2> <center>Password Reset</center></h2><br>
     
<label for="uname"><b>Username</b>  </label>
        <select name="username">
            <option value="all">SELECT</option>
            {% for user1 in user1 %}
                <option value="{{user1.username}}">{{user1.username}}</option>
            {% endfor %}
          </select>

    </select>&emsp;&emsp;&emsp;&ensp;
    <label for="password"><b>Password</b> </label>
    <input class="border-right" type="password" name="password1" id="password1" placeholder="Enter Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*?[!@#$%^&*+`~=?\|<>/]).{8,}" title="Please Enter Strong Passwords"onmouseover="this.setAttribute('type','text')"               
    onmouseout="this.setAttribute('type','password')" required>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<label for="password2"><b>Confirm Password </b></label>
    <input class="border-right" type="password" name="password2" placeholder="Confirm Password" onclick="validateForm()"onkeyup="validateForm()" id="confirm_password" required=""><br><br>
 <br>

  
  <button type="submit" class="btn btn-primary btn-lg" >Save Changes</button>
</center>
</form>
</div>
<div id="message">
  <ul>Password must contain the following:</ul>
  <ul id="letter" class="invalid"><b>A lowercase letter</b></ul>
  <ul id="capital" class="invalid"><b>A capital (uppercase) letter</b></ul>
  <ul id="number" class="invalid"><b>A number</b></ul>
  <ul id="spchar" class="invalid"><b>A Special Character</b></ul>
  <ul id="length" class="invalid"><b>Minimum 8 characters</b></ul>
</div>
<script>
function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
<script>
var myInput = document.getElementById("password1");
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("number");
var length = document.getElementById("length");
var spchar = document.getElementById("spchar");
// When the user clicks on the password field, show the message box
myInput.onfocus = function() {
  document.getElementById("message").style.display = "block";
}

// When the user clicks outside of the password field, hide the message box
myInput.onblur = function() {
  document.getElementById("message").style.display = "none";
}

// When the user starts to type something inside the password field
myInput.onkeyup = function() {
  // Validate lowercase letters
  var lowerCaseLetters = /[a-z]/g;
  if(myInput.value.match(lowerCaseLetters)) {  
    letter.classList.remove("invalid");
    letter.classList.add("valid");
  } else {
    letter.classList.remove("valid");
    letter.classList.add("invalid");
  }
  var specialCaseLetters =/[!@#$%^&*+`~=?\|<>/]/g;
  if(myInput.value.match(specialCaseLetters)) {  
    spchar.classList.remove("invalid");
    spchar.classList.add("valid");
  } else {
    spchar.classList.remove("valid");
    spchar.classList.add("invalid");
  }
  
  // Validate capital letters
  var upperCaseLetters = /[A-Z]/g;
  if(myInput.value.match(upperCaseLetters)) {  
    capital.classList.remove("invalid");
    capital.classList.add("valid");
  } else {
    capital.classList.remove("valid");
    capital.classList.add("invalid");
  }

  // Validate numbers
  var numbers = /[0-9]/g;
  if(myInput.value.match(numbers)) {  
    number.classList.remove("invalid");
    number.classList.add("valid");
  } else {
    number.classList.remove("valid");
    number.classList.add("invalid");
  }
  
  // Validate length
  if(myInput.value.length >= 8) {
    length.classList.remove("invalid");
    length.classList.add("valid");
  } else {
    length.classList.remove("valid");
    length.classList.add("invalid");
  }
}
</script>

 <script>
var password = document.getElementById("password1")
  , confirm_password = document.getElementById("password2");

function validatePassword(){
  if(password1.value != password2.value) {
    confirm_password.setCustomValidity("Password Doesn't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}
password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>
{% endblock %}