{% extends "header.html" %}
{% block title %}Ls Milks{% endblock %}
{% block description %}{% endblock %}
{% block keyword %}{% endblock %}
{% load static %}
{% load mathfilters %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-xs-12">
			<table>
				<thead>
					<tr>
  						<form method="POST" action="/check-report/">
  							{% csrf_token %}
	                        <select name="select_month">
	                            <option value="">--Select month--</option>
	                            <option value="1">January </option>
	                            <option value="2">February</option>
	                            <option value="3">March </option>
	                            <option value="4">April</option>
	                            <option value="5">May</option>
	                            <option value="6">June</opion>
	                            <option value="7">July </option>
	                            <option value="8">August </option>
	                            <option value="9">September</option>
	                            <option value="10">October </option>
	                            <option value="11">November</option>
	                            <option value="12">December</option>
	                        </select>
	                        <select name="select_year">
	                            <option value="">--Select year--</option>
	                            <option value="{{current_year}}">{{current_year}} </option>
	                            <option value="{{current_year|sub:1}}">{{current_year|sub:1}} </option>
	                            <option value="{{current_year|sub:2}}">{{current_year|sub:2}} </option>
	                            <option value="{{current_year|sub:3}}">{{current_year|sub:3}}</option>
	                            <option value="{{current_year|sub:4}}">{{current_year|sub:4}}</option>
	                            <option value="{{current_year|sub:5}}">{{current_year|sub:5}}</option>
	                        </select>
	                        <button type="submit" value="submit" traget="blank">submit</button>
	                    </form>
                    </tr>
				</thead>
				<thead style="background-color: #69bc5f !important;">
					<tr>
						<th width="15%" class="school_activity">Date</th>
						<th width="30%" class="school_activity" >Details</th>
						<th width="10%" class="school_activity">Receviable</th>
						<th width="10%" class="school_activity">Payment</th>
						<!-- <th width="10%" class="school_activity">Actions</th> -->
					</tr>
				</thead>
				<tbody>
					{% for board in board_report %}
					<tr>
						<td>{{board.date |date:'d-m-Y'}}</td>
						<td style="text-align:left !important">{{board.expenses_details}}</td>
						<td style="text-align:right !important">{{board.receviable}}</td>
						<td style="text-align:right !important">{{board.payment}}</td>
					</tr>
					{% endfor %}
					<tr>
						<td></td>
						<td style="text-align:left !important">Total</td>
						<td style="text-align:right !important">{{total_recsum_detail}}</td>
						<td style="text-align:right !important">{{total_paysum_detail}}</td>
					</tr>
					<tr>
						<td></td>
						<td style="text-align:left !important">Balance</td>
						<td></td>
						<td style="text-align:right !important">{{diff_total_detail}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}