{% extends "header.html" %}
{% block title %}Ls Milks{% endblock %}
{% block content %}
{% load static %}
<div class="container register">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<h4 style="font-weight: 700;margin-top: 3%;line-height: 0px;">Delete Dashboard</h4>
	</div>
	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="col-md-12 col-sm-12 col-xs-12 delete_dash">
		        Are you want to delete this item ? <br>
			<div class="dele_butt"> 
		        <button class="btn btn-danger">Yes</button>
		        <button class="btn btn-success">Cancel</button>
		    </div>
	 	</div>
	</form>
</div>
{% endblock %}