{% extends "header.html" %}
{% block title %}Ls Milks{% endblock %}
{% block description %}{% endblock %}
{% block keyword %}{% endblock %}
{% load static %}
{% load mathfilters %}
{% block content %}


<style>
    select {
        width: 100px;
        margin: 10px;
    }
    #select:focus {
        min-width: 150px;
        width: auto;
    }
</style>
<script>
$(function(){
    var dtToday = new Date();

    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();

    var maxDate = year + '-' + month + '-' + day;

    $('#txtDate').attr('max', maxDate);
});

</script>

<script>
$(function() {
    var dtToday = new Date();
    var month = dtToday.getMonth() + 1;
    var day = dtToday.getDate();
    var year = dtToday.getFullYear();
    if(month < 10)
        month = '0' + month.toString();
    if(day < 10)
        day = '0' + day.toString();

    var minDate = year + '-' + month + '-' + day;

   

   $('#txtDate1').attr('min', minDate);
});
</script>
<div class="container">
   <h2><center><b>Deposit</b></center></h2>
   <form name="myForm" method="POST"  action="/deposit/" enctype="">
      {% csrf_token %}
        <form>
         <div class="row">
            <div class="col-md-50 col-sm-50 col-xs-70 reg_mar" >
                  &emsp;&ensp;<label for="date"><b>Date</b></label>&emsp;&emsp;&emsp;&ensp;
                  <input type="Date" name="Date" id="txtDate" value="{{page_form.date}}">

                  &emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;
                  <label><b>Name</b></label>&emsp;
                 <input type="text" id="name" name="Name">

                 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;
                 <label><b>*Issued to</b></label>&emsp;
                  <select name="Issued to"  id="Issuedto"  required>

                  <option value="" >--Select--</option>
                  <option value="Center" >Center</option>
                  <option value="Transporter" >Transporter</option>
                  <option value="Agent" >Agent</option>
                  </select><br>

                  &emsp;&ensp;<label><b>Center</b></label> &ensp;&emsp;
                  <select name="Center" id="center">
                  <option value="">--Select--</option>
                   <option>None</option>
                  {% for center in center %}
                  <option value="{{center.centre_code}}">{{center.centre_code}}-{{center.name}}</option>
                  {% endfor %}
                  </select>

                  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;&emsp;&nbsp;
                  <label><b>Transporter</b></label>
                  <select name="Transporter" id="transporter" style="width:13%;">
                  <option>--Select--</option>
                  </select>

                  &ensp;&ensp;&nbsp;&nbsp;&emsp;&ensp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                  <label><b>Agent</b></label>&emsp;&emsp;&ensp;&nbsp;
                  <select name="Agent" id="agent">
                  <option value="">--Select--</option>
                  <option>None</option>
                  {% for agent in agent %}
                  <option value="{{agent.code}}">{{agent.code}}-{{agent.name}}</option>
                  {% endfor %}
                  </select><br>

                 &emsp;&nbsp;<label><b>*Deposit No</b></label>
                <input type="text" id="no" name="depositno">
         

               &emsp;&emsp;&emsp;&nbsp;
               <label><b>*Mode of Deposit</b></label>
               <select name="Modeofdeposit" id="Modeofdeposit" onchange="changeDropdown()" required>
               <option value="">--Select--</option>
               <option value="Amount">Amount</option>
               <option value="Check/DD">Cheque/DD</option>
               <option value="RTGS">RTGS</option>
               </select>


               &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&emsp;&emsp;&nbsp;
               <label><b>Route Name</b></label>
               <input type="text" id="route" name="Routename"><br><br>


            &emsp;&ensp;<label><b>*Amount</b></label>&emsp;&nbsp;
            <input type="number" id="amount" name="Amount">

            &emsp;&emsp;&ensp;&emsp;
            <label><b>Cheque/DD No</b></label>
            <input type="text" id="cheque" name="cheque">

            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;
            <label><b>RTGS</b></label>&emsp;&emsp;&emsp;&nbsp;
            <input type="" id="rtgs" name="rtgs"><br><br>

            &emsp;&ensp;
            <label><b>Remarks</b></label>
             <input type="text" id="myCheck" name="Remarks"  style="width: 50%;">

             &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&emsp;&emsp;&emsp;
             <label><b>Closing date</b></label>
              <input type="date" id="txtDate1"  name="Closedate" value="{{page_form.date}}"><br><br>
            &emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <button type="reset" class="btn btn-primary btn-lg" value="Reset"> Reset </button>
            <button type="submit" class="btn btn-primary btn-lg"> Submit </button>
           
            <p><strong>Note:</strong><b>*Marked are important fields</b> </p>
         </div>
         </div>
         </form>
      </div>
      
<script>

$(document).ready(function(){
   $("#center").click(function(){
          $("#transporter").hide();
          $("#agent").hide();
          $("#center").attr('required', 'required')


   });
   $("#transporter").click(function(){
      $("#center").hide();
      $("#agent").hide();
      $("#transporter").attr('required', 'required')
   });
   $("#agent").click(function(){
      $("#transporter").hide();
      $("#center").hide();
      $("#agent").attr('required', 'required')
   });
});

function changeDropdown()
   {
   var Modeofdeposit = document.getElementById('Modeofdeposit').value;
   if(Modeofdeposit == 'Amount')
   {
   document.getElementById('cheque').setAttribute('disabled',true);
   }
   else if(Modeofdeposit == 'cheque')
   {
   document.getElementById('rtgs').setAttribute('disabled',true);
   }
   else
   {
   document.getElementById('cheque').removeAttribute('disabled');
   }
   }

</script>

{% endblock %}