{% extends "header.html" %}
{% block title %}Ls Milks{% endblock %}
{% block description %}{% endblock %}
{% block keyword %}{% endblock %}
{% load static %}
{% load mathfilters %}
{% block content %}
<script> 
    $(document).ready(function() { 
        $(function() { 
            $( "#my_date_picker" ).datepicker(); 
        }); 
    }) 
</script> 
<script>
$(document).ready( function() {
    var now = new Date();
 
    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);

    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;


   $('#datePicker').val(today);
});</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<style type="text/css">
	table 
	{
	  border-collapse: collapse !important;
	  /*width: 100%;*/
	}
td 
	{
  		border: 1px solid #dddddd !important;
  		text-align: left !important;
  		padding: 7px !important;
	}
th{
	text-align: center !important;
	padding: 7px !important;
	border: 1px solid #dddddd !important;
}
.no_pad{
	padding-left:0px !important;
	padding-right: 0px !important;
}
.td_border{
	border:none !important;
}
.td_border input{
	width:55% !important;
}
.btn_delete{
	padding: 8px 10px;
	font-size: 10px;
	text-align: center;
	width:100px;
	display: block;
	background-color: brown;
	color:#fff;
	cursor:pointer;
}
.btn_delete:hover{
	background-color: rgb(83,4,4);
}
.btn_submit{
	padding: 8px 10px;
	font-size: 10px;
	text-align: center;
	width:100px;
	display: block;
	background-color: brown;
	color:#fff;
	cursor:pointer;
}
.btn_submit:hover{
	background-color: rgb(83,4,4);
}
th{
	
	color:#000 !important;
}
 input{
	width:125px !important;
}
input[type=date]{
	width:150px !important;
}  
 

</style>


<div class="container">
	<div style="border:1px solid #dddddd;padding:10px;margin:10px;">
		<div class="col-md-12 col-sm-12 col-xs-12">
				<h2><b><center>Manage Bank</center></b></h2>

			<form  method="POST"  action="/managebank/" enctype="">  
				{% csrf_token %}

			<div class="col-md-12 col-sm-12 col-xs-12" id="table_notshow">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<table>
							<thead class="tableHeadcolor">
					            <tr>
					            	<!--<th >Date</th>
					            	<th >Shift</th>-->
					            	<th >Bank Name</th>
					                <th >Bank Full Name</th>
					               <!-- <th>Good Sour</th> -->
					                <th>Branch Name</th>
					              <!--  <th>name</th>-->
					                <th>IFSC Code</th>
					               
					               
					                <th>Remove</th>
					            </tr>
					        </thead>
					        <tbody id='form' class="form-block_1">

					            	{% for ba in ba %}
					            	<tr class="odd"  role="row">
					            		<!-- <td><input type="text" value="{{dc.date}}" name="date" ></td>
					            		 <td><input type="text" value="{{dc.shift}}" name="shift_loc1" ></td>-->
					            		 <!--x = datetime.strptime(request.POST["date"], "%Y-%m-%d")
										<td>{{board.date |date:'d-m-Y'}}</td>				-->
										<input type="hidden" value="{{ba.id}}" name="dcid10[]" >
						                <td>&emsp;&emsp;&emsp;&emsp;<input type="text" value="{{ba.name}}" name="name[]" ></td>
						                <td>&emsp;&emsp;&emsp;&emsp;<input type="text" value="{{ba.fullname}}" name="fname[]" ></td>
						                <td>&emsp;&emsp;&emsp;<input type="text" value="{{ba.branch}}" name="branch[]" ></td>
						                <td>&emsp;&emsp;&emsp;<input type="text" value="{{ba.ifsc}}" name="ifsc[]" ></td>

						               <td>	
											<select name="remove[]" value="{{dc.id}}">
											    <option value="N">N</option>
											    <option value="Y">Y</option>
										  	</select>
										</td>

						               
					               </tr>        
					                {% endfor %}
					       </tbody>			    
						</table>
					</div>
					

						
						
		
					</div>
					</div>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
					<button type="reset" class="btn btn-primary btn-lg" value="Reset"> Reset </button>
					<a type="cancel" class="btn btn-primary btn-lg" value="cancel"  href="/bank/" >Cancel </a>

					<button type="submit" class="btn btn-primary btn-lg" > Submit </button>


	<br>
	<br>
	<br>
	<br>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}