 {% extends "header.html" %}
{% block title %}Ls Milks{% endblock %}
{% block description %}{% endblock %}
{% block keyword %}{% endblock %}
{% load static %}
{% block content %}
<link href='https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css' rel='stylesheet'> 
<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script> 
<script src= "https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"> </script>
<script> 
    $(document).ready(function() { 
        $(function() { 
            $( "#my_date_picker" ).datepicker(); 
        }); 

    }) 
  $( ".start_date" ).datepicker({
    defaultDate: +7
  });

</script> 
<script>
$(document).ready( function() {
    var now = new Date();
 
    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);

    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;


   $('#datePicker').val(today);
});

</script>
<script>
  $(document).ready( function() {
      var now = new Date();
   
     var day = ("0" + now.getDate()).slice(-2);
      var month = ("0" + (now.getMonth() + 1)).slice(-2);
  
      var today = (now.getFullYear()+2)+"-"+(month)+"-"+(day) ;
  
  
  
     $('#datePicker1').val(today);
  });</script>
<script>
  $(function () {
    setNavigation();
});

function setNavigation() {
    var path = window.location.pathname;
    path = path.replace(/\/$/, "");
    path = decodeURIComponent(path);

    $(".nav a").each(function () {
        var href = $(this).attr('href');
        if (path.substring(0, href.length) === href) {
            $(this).closest('li').addClass('active');
        }
    });
}
</script>
<style>
h1.uppercase {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px; 
}

b.uppercase1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
}
b.uppercasedate {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
}
.title_middle{text-align: center;
}

th.school_activity{
  text-align: center;
  font-weight: bold;
}
a {
  position: relative;
  display: inline-block;
  font-size: 1em;
  color: #000;
  font-weight: 500;
  
  // text-decoration: none;
  overflow: hidden;
  span {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: translateX(-100%);
    transition: transform 275ms ease;
    &::before {
      display: inline-block;
      content: attr(data-content);
      color: yellow;
      transform: translateX(100%);
      transition: transform 275ms ease;
      text-decoration: underline;
    }
  }
  &:hover {
    span {
      transform: translateX(0);
      &::before {
        transform: translateX(0);
      }
    }
  }
}

.title_right{text-align: right;
            }

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xs-12">
      <table>
        <thead>
          <tr>
               <th colspan="5" class="title_dash" style="text-transform: capitalize;background-color: #69bc5f !important;">MILK BILL VOUCHER</th>
            </tr>
          </thead>
      </table>
      <br><button type="button"><a href="/milkbillcenter/pdf1/{{slug3}}/" target="_blank"> PDF Download</a></button>&emsp;
      <button type="button"><a href="/excel4/{{datefrom}}/{{dateto}}/{{routecode}}/{{centercode}}/" target="_blank"> Excel Download</a></button><br>
      <form method="POST" action="/milkbill/" enctype=""><br>
        {% csrf_token %} 
        <label for="fname"><b>From Date</b> </label>
        <input class="border_right " type="date" onfocus="(this.type='date')" onblur="(this.type='date')" id="my_date_picker" name="datefrom" placeholder="Enter MM/DD/YY" required="" value="{{start_of_m|date:'Y-m-d'}}">
        <!--<input class="border_foot start_date" type="date" id="my_date_picker" name="date_from" placeholder="Enter MM/DD/YYYY" required="">-->
        <label for="fname"><b>TO Date</b> </label>
        <input class="border_right" type="date" onfocus="(this.type='date')" onblur="(this.type='date')" id="my_date_picker1" name="dateto" placeholder="Enter MM/DD/YYYY" value="{{end_of_m|date:'Y-m-d'}}" required="">
        <!--<input class="border_foot" type="date" id="my_date_picker1" name="date_to" placeholder="Enter MM/DD/YYYY" required="">-->
        <label for="fname"> <b>Route</b> </label>
        <select name="routecode">
            <option value="all">All</option>

            {% for route in route %}
                <option value="{{route.Route_number}}">{{route.Route_number}}-{{route.Route_name}}</option>
            {% endfor %}
          </select>
          
        <!--btn btn-outline-primary-->
        <button type="submit" class="btn btn-primary btn-lg" id="getdata" value=""><b>Get Data</b></button>
      </form>

      <br>
        <br>
        <br><br>
        <br>
        <br>
</div>
        
    </div>
</div>

</div>
<script src="{% static 'js/ajax-jquery.min.js' %}"></script>
<script type="text/javascript">
/*$("#displaytable").hide();
*/
$(document).ready(function(){
  /*$("#centerhide").hide()
    $('#getdata').click(function() {
    
      

      $("#centerhide").show()
      
    
  });*/
});

$(document).ready(function(){

    $('[name="start_date"]').val( '{{start_of_yr | date:"m/d/yyyy"}}' );
    $('[name="end_date"]').val( '{{end_of_yr | date:"m/d/yyyy"}}' );
});
</script>
<script>

  $(document).ready(function(){
  document.getElementById("my_date_picker").value = localStorage.getItem("my_date_picker");
      });

 $(window).on('beforeunload', function() {
  localStorage.setItem("my_date_picker",document.getElementById("my_date_picker").value);
});

</script>
<script>

  $(document).ready(function(){
  document.getElementById("my_date_picker1").value = localStorage.getItem("my_date_picker1");
      });

 $(window).on('beforeunload', function() {
  localStorage.setItem("my_date_picker1",document.getElementById("my_date_picker1").value);
});

</script>
{% endblock %}