<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<style>
			table {
			  font-family: arial, sans-serif;
			  border-collapse: collapse;
			  width: 100%;
			}

			td, th {
			  border: 1px solid #dddddd;
			  text-align: center;
			  /*padding: 8px;*/
			  padding-top: 8px;
			  padding-bottom: 8px;
			}
			.title_middle{text-align: center;}
		</style>
	</head>
	<body>
			<h2 class="title_middle">Role Report<br>{{datefrom}} to {{dateto}}</h2>
			<p class="title_middle">Role code : {{role}}<br>

		   </p><br>
		<table>
            <tr>
                <th>Role Code</th>
                <th>Role Name</th>
                       
			</tr>
            {% for rr1 in data %}
            <tr>
                <td>{{rr1.rcode}}</td>
                <td>{{rr1.rname}}</td>
			</tr>
			{% endfor %}
		
	
		
		</table>
	</body>
</html>