<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }

            td, th {
              border: 1px solid #dddddd;
              text-align: center;
              /*padding: 8px;*/
              padding-top: 8px;
              padding-bottom: 8px;
            }
            .title_middle{text-align: center;}
        </style>
    </head>
    <body>
            <h2 class="title_middle">{{ board.0.expenses_details }}<br>{{slug1}} to {{slug2}}</h2>
            <p class="title_middle">{{ board.0.address_detail.house_number }}<br>
            {{ board.0.address_detail.city }}<br>
            {{ board.0.address_detail.state }}<br>
            {{ board.0.address_detail.country }}<br>
            {{ board.0.address_detail.pincode }}</p><br> 
        <table>
            <tr>
                <th>Date</th>
                <th>Particulars</th>
                <th>Details</th>
                <th>description</th>
                <th>heads</th>
                <th>Receviable</th>
                <th>Payment</th>
            </tr>
            {% for board in board %}
            <tr>
                <td>{{ board.date |date:'Y-m-d' }}</td>
                {% if board.receviable == 0.0 %}
                <td style="text-align:left !important">cr</td>
                {% elif board.payment == 0.0 %}
                <td style="text-align:left !important">dr</td>
                {% endif %}
                <td>{{ board.expenses_details }}</td>
                <td>{{ board.description }}</td>
                <td>{{ board.heads }}</td>
                {% if board.receviable == 0.0 %}
                    <td style="text-align:right !important"></td>
                {% else %}
                <td style="text-align:right !important">{{board.receviable}}</td>
                {% endif %}
                {% if board.payment == 0.0 %}
                    <td style="text-align:right !important"></td>
                {% else %}
                <td style="text-align:right !important">{{board.payment}}</td>
                {% endif %}
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Totals</td>
                <td style="text-align:right !important">{{total_r}}</td>
                <td style="text-align:right !important">{{total_p}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Difference(Receviable & payment)</td>
                <td style="text-align:right !important">{{tp}}</td>
                <td style="text-align:right !important">{{tr}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align:right !important">{{total_recsum}}</td>
                <td style="text-align:right !important">{{total_paysum}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align:right !important">Total</td>
                <td style="text-align:right !important">{{total_sum}}</td>
            </tr>
        </table>
    </body>
</html>