<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
            @media print {
            th {display: table-header-group;}
            tfoot {display: table-header-group;}
            }   
            .footer {page-break-after: always;}
            #header-fixed {
              position: fixed;
              top: 0px; display:none;
              background-color:white;
            }
            td, th {
              border: 0px solid #dddddd;
              text-align: left;
              /*padding: 8px;*/
              padding-top: 2px;
              padding-bottom: 2px;
            }
            .classtablefor{
                border: 3px solid black;
                padding-top : 2px;

            }
            .title_center{text-align: right;
            }
            .title_middle{text-align: center;
            }
            .title_middle1{
            font-family: arial, sans-serif;
            font-size: 15px;}
            .title_middle2{text-align: right;
            font-family: arial, sans-serif;
            }
            h1.uppercase {
  text-transform: uppercase;
  text-align: center;
}
.title_right{text-align: right;
            }

        </style>
    </head>
    <body>
       
            <h1 class="uppercase">LS Dairy Products Pvt Ltd ,{{name}}<br>{{address}}-{{pin}}</h1>
           
            <h2 class="title_middle">Milk Bill Voucher From <b>{{datefrom111}} To {{dateto11}}</b> <br>
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h2>
           <table id="header-fixed">
               <tr>
                   <th>Center   <br>
                         Name  <br>
                        Account No   <br>     
                                            
                    </th>
                    
                    <th>
                       :  {{centre_code}} / {{centername}}<br>
                        :  {{centername}}<br>
                        :  {{bankno}}<br>
                        
                    </th>
                   <th>
                        Route  <br>
                        Contact No  <br>
                        IFSC  <br>
                   </th>
                   
                   <th>
                    :   {{route_number}} / {{routename}}<br>
                    :   {{mobile}}<br>
                    :   {{ifsc}}<br>
                   </th>
               </tr>
           </table>
            
<h2>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h2>
            
           
        <table>
            <tr>
                <th  width="12%">Date</th>
                <th class="title_center" width="7%">SHIFT/TYPE</th>
              
                <th class="title_center" width="8%">KGS</th>
                <th class="title_center" width="8%">LTRS</th>
                <th class="title_center" width="8%">FAT</th>
                <th class="title_center" width="8%">SNF</th>
                <th class="title_center" width="9%">Rate/ltr</th>
                <th class="title_center" width="12%">Amount</th>
               
                <th class="title_center" width="10%">P&I Exp</th>
                <th class="title_center" width="12%">Total</th>                
            </tr>
            {% for dc_1 in data %}
            <tr>
                <td >{{dc_1.date}}</td>
                <td class="title_center">{{dc_1.shift}}/{{dc_1.milk_type}}</td>
                
               
                <td class="title_center">{{dc_1.kgs|floatformat:2}}</td>
                <td class="title_center">{{dc_1.ltrs|floatformat:2}}</td>
                <td class="title_center">{{dc_1.fat|floatformat:2}}</td>
                <td class="title_center">{{dc_1.snf|floatformat:2}}</td>
                <td class="title_center">{{dc_1.ltrrate|floatformat:2}}</td>
                <td class="title_center">{{dc_1.amount|floatformat:2|floatformat:2}}</td>
                
                <td class="title_center">{{dc_1.pel|floatformat:2}}</td>
                <td class="title_center">{{dc_1.net|floatformat:2}}</td>
            </tr>
            {% endfor %}

            <tr>
                        <td class="title_center"><b>Total</b></td>
                        <td class="title_center"></td>
                        
                        
                        <td class="title_center"><b>{{total_kgssum_detail|floatformat:2}}</b></td>
                        <td class="title_center"><b>{{total_ltrssum_detail|floatformat:2}}</b></td>
                        <td class="title_center"><b>{{total_fatsum_detail|floatformat:2}}</b></td>
                        <td class="title_center"><b>{{total_snfsum_detail|floatformat:2}}</b></td>
                        <td class="title_center"><b>{{total_ratesum_detail|floatformat:2}}</b></td>
                        <td class="title_center"><b>{{total_amountsum_detail|floatformat:2}}</b></td>
                        <td class="title_center"><b>{{total_pelsum_detail|floatformat:2}}</b></td>
                        <td class="title_center"><b>{{total_totalsum_detail|floatformat:2}}</b></td>
                    </tr>


           <!-- <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Totals</td>
                <td style="text-align:right !important">{{total_r}}</td>
                <td style="text-align:right !important">{{total_p}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Difference(Receviable & payment)</td>
                <td style="text-align:right !important">{{tp}}</td>
                <td style="text-align:right !important">{{tr}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align:right !important">{{total_recsum}}</td>
                <td style="text-align:right !important">{{total_paysum}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align:right !important">Total</td>
                <td style="text-align:right !important">{{total_sum}}</td>
            </tr>-->

        </table>
        <table id="header-fixed"></table>

<h6>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h6>
<table>
    <tr>
        <th>Additions<br>-------------------------------------</th>
        <th></th><th></th><th></th>
        <th>Recoveries<br>-------------------------------------</th>
        <th></th><th></th><th></th>
        <th>Bill Details<br>-------------------------------------</th>
        <th></th><th></th><th></th>
    </tr>
    <tr>
        <th>Auto Fine  <br>  
            Cartage <br>
         Others  <br>
         Arrears<br>
         Commission<br>
         <br><br><br><br><br>
     ----------------------------------------------
     <br>     Total     <br>
 -------------------------------------------</th>
 <th width="3%">
     :<br>
     :<br>
     :<br>
     :<br>
     :<br>
     <br><br><br><br><br>
     ---
     <br>  <br>
     ---
 </th>
 <th class="title_right" width="9%">
    
     {{autofine|floatformat:2}}<br>
     {{cartage|floatformat:2}}<br>
     {{aothers|floatformat:2}}<br>
     {{aarrears|floatformat:2}}<br>
    {{commission|floatformat:2}}<br>
     <br><br><br><br><br>
    -----------<br>
     {{total_additions|floatformat:2}}<br>
    -------------
 </th><th width="3%"></th>
        <th> Stationary   <br>
            Cattle Feed    <br>
            Seed           <br>
           EMT          <br>
            Vet.medicine    <br>
            Insurance    <br>
            Stores      <br>
            Loans      <br>
            Others     <br>
            Arrears <br>
            ---------------------------------------<br>
             <br>
            ----------------------------------------
        </th>
        <th width="3%">
            :<br>
            :<br>
            :<br>
            :<br>
            :<br>
            :<br>
            :<br>
            :<br>
            :<br>
            :<br>
            ---<br>
            :<br>
            ---<br>
        </th>
        <th class="title_right" width="12%">
            
             {{stationary|floatformat:2}}<br>
             {{cattlefeed|floatformat:2}}<br>
             {{seed|floatformat:2}}<br>
             {{seed|floatformat:2}}<br>
           {{emtcharges|floatformat:2}}<br>
           {{medicine|floatformat:2}}<br>
           {{insurance|floatformat:2}}<br>
           {{stores|floatformat:2}}<br>
           {{instamt|floatformat:2}}<br>
           {{rothers|floatformat:2}}<br>
          {{rarrears|floatformat:2}}
            ------------------------<br>
             {{total_recoveries|floatformat:2}}<br>
            -----------------------
            
        </th><th width="6%"></th>
        <th >
            Milk Value     <br>
            P&I Exp.     <br>
            Additions          <br>
            --------------------------------<br>
            Gross Amount   <br>
            <br><br><br><br>
            Recoveries     <br>
            ---------------------------------<br>
            Net Payable   <br>
            --------------------------------<br>

        </th>
        <th width="2%"><br>
            :<br>
            :<br>
            :<br>
            --------<br>
            :<br>
            <br><br><br><br>
            :<br>
            --------<br>
            :<br>
            --------<br></th>
        <th class="title_right" width="10%">
              {{total_amountsum_detail|floatformat:2}}<br>
                {{total_pelsum_detail|floatformat:2}}<br> 
                 {{total_additions|floatformat:2}} <br>
             -------------------<br>
               {{total_totalsum1|floatformat:2}}<br>
               <br><br><br><br>
               {{total_recoveries|floatformat:2}}<br>
             -------------------<br>
               {{total_netvalue|floatformat:2}} <br>
             -------------------


        </th><th></th>
    </tr>
    <tr>
        <th><br><br><br> Milk Value/Ltr <br>

        Avg. Per Day </th>
        <th><br><br><br>
            :<br>
            :<br>
        </th>
        <th class="title_right"><br><br><br>
             {{total_milkvalue|floatformat:2}}<br>
             {{total_rateltr|floatformat:2}}<br>


        </th>

        <th>
            
        </th>
        <th>
            
        </th>
    </tr>
    <br>
</table>

 
    </body>
    <div class="footer"></div>

    <body>
       
            <h1 class="uppercase">LS Dairy Products Pvt Ltd ,{{name}}<br>{{address}}-{{pin}}</h1>
           
            <h2 class="title_middle">Milk Bill Voucher From <b>{{datefrom111}} To {{dateto11}}</b> <br>
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h2>
           <table class="title_middle1">
               <tr>
                   <th>Center  <br>
                         Name  <br>
                        Account No   <br>     
                                            
                    </th>
                    
                    <th>
                       :  {{centre_code1}} / {{centername1}}<br>
                        :  {{centername1}}<br>
                        :  {{bankno1}}<br>
                        
                    </th>
                   <th>
                        Route  <br>
                        Contact No  <br>
                        IFSC  <br>
                   </th>
                   
                   <th>
                    :   {{route_number1}} / {{routename1}}<br>
                    :   {{mobile1}}<br>
                    :   {{ifsc1}}<br>
                   </th>
               </tr>
           </table>
            
<h2>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h2>
            
           
        <table>
            <tr>
                <th  width="12%">Date</th>
                <th class="title_center" width="7%">SHIFT/TYPE</th>
              
                <th class="title_center" width="8%">KGS</th>
                <th class="title_center" width="8%">LTRS</th>
                <th class="title_center" width="8%">FAT</th>
                <th class="title_center" width="8%">SNF</th>
                <th class="title_center" width="9%">Rate/ltr</th>
                <th class="title_center" width="12%">Amount</th>
               
                <th class="title_center" width="10%">P&I Exp</th>
                <th class="title_center" width="12%">Total</th>                
            </tr>
            {% for directdata in directdata %}
            <tr>
                <td >{{directdata.date}}</td>
                <td class="title_center">{{directdata.shift}}/{{directdata.milk_type}}</td>
                
               
                <td class="title_center">{{directdata.kgs|floatformat:2}}</td>
                <td class="title_center">{{directdata.ltrs|floatformat:2}}</td>
                <td class="title_center">{{directdata.fat|floatformat:2}}</td>
                <td class="title_center">{{directdata.snf|floatformat:2}}</td>
                <td class="title_center">{{directdata.ltrrate|floatformat:2}}</td>
                <td class="title_center">{{directdata.amount|floatformat:2|floatformat:2}}</td>
                
                <td class="title_center">{{directdata.pel|floatformat:2}}</td>
                <td class="title_center">{{directdata.net|floatformat:2}}</td>
            </tr>
            {% endfor %}

            <tr>
                        <td class="title_center"><b>Total</b></td>
                        <td class="title_center"></td>
                        
                        
                        <td class="title_center"><b>{{total_kgssum_detail01|floatformat:2}}</b></td>
                        <td class="title_center"><b>{{total_ltrssum_detail01|floatformat:2}}</b></td>
                        <td class="title_center"><b>{{total_fatsum_detail001|floatformat:2}}</b></td>
                        <td class="title_center"><b>{{total_snfsum_detail001|floatformat:2}}</b></td>
                        <td class="title_center"><b>{{total_ratesum_detail001|floatformat:2}}</b></td>
                        <td class="title_center"><b>{{total_amountsum_detail01|floatformat:2}}</b></td>
                        <td class="title_center"><b>{{total_pelsum_detail01|floatformat:2}}</b></td>
                        <td class="title_center"><b>{{total_totalsum_detail01|floatformat:2}}</b></td>
                    </tr>


           <!-- <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Totals</td>
                <td style="text-align:right !important">{{total_r}}</td>
                <td style="text-align:right !important">{{total_p}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Difference(Receviable & payment)</td>
                <td style="text-align:right !important">{{tp}}</td>
                <td style="text-align:right !important">{{tr}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align:right !important">{{total_recsum}}</td>
                <td style="text-align:right !important">{{total_paysum}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align:right !important">Total</td>
                <td style="text-align:right !important">{{total_sum}}</td>
            </tr>-->

        </table>
        <table id="header-fixed"></table>

<h6>-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h6>
<table>
    <tr>
        <th>Additions1<br>-------------------------------------</th>
        <th></th><th></th><th></th>
        <th>Recoveries1<br>-------------------------------------</th>
        <th></th><th></th><th></th>
        <th>Bill Details1<br>-------------------------------------</th>
        <th></th><th></th><th></th>
    </tr>
    <tr>
        <th>Auto Fine  <br>  
            Cartage <br>
         Others  <br>
         Arrears<br>
         Commission<br>
         <br><br><br><br><br>
     ----------------------------------------------
     <br>     Total1     <br>
 -------------------------------------------</th>
 <th width="3%">
     :<br>
     :<br>
     :<br>
     :<br>
     :<br>
     <br><br><br><br><br>
     ---
     <br>  <br>
     ---
 </th>
 <th class="title_right" width="9%">
    
     {{autofine1|floatformat:2}}<br>
     {{cartage1|floatformat:2}}<br>
     {{aothers1|floatformat:2}}<br>
     {{aarrears1|floatformat:2}}<br>
    {{commission1|floatformat:2}}<br>
     <br><br><br><br><br>
    -----------<br>
     {{total_additions1|floatformat:2}}<br>
    -------------
 </th><th width="3%"></th>
        <th> Stationary   <br>
            Cattle Feed    <br>
            Seed           <br>
           EMT          <br>
            Vet.medicine   <br>
            Insurance    <br>
            Stores      <br>
            Loans      <br>
            Others     <br>
            Arrears <br>
            ---------------------------------------<br>
             <br>
            ----------------------------------------
        </th>
        <th width="3%">
            :<br>
            :<br>
            :<br>
            :<br>
            :<br>
            :<br>
            :<br>
            :<br>
            :<br>
            :<br>
            ---<br>
            :<br>
            ---<br>
        </th>
        <th class="title_right" width="12%">
            
             {{stationary1|floatformat:2}}<br>
             {{cattlefeed1|floatformat:2}}<br>
             {{seed1|floatformat:2}}<br>
             {{seed1|floatformat:2}}<br>
           {{emtcharges1|floatformat:2}}<br>
           {{medicine1|floatformat:2}}<br>
           {{insurance1|floatformat:2}}<br>
           {{stores1|floatformat:2}}<br>
           {{instamt1|floatformat:2}}<br>
           {{rothers1|floatformat:2}}<br>
          {{rarrears1|floatformat:2}}
            ------------------------<br>
             {{total_recoveries1|floatformat:2}}<br>
            -----------------------
            
        </th><th width="6%"></th>
        <th >
            Milk Value     <br>
            P&I Exp.     <br>
            Additions          <br>
            --------------------------------<br>
            Gross Amount  <br>
            <br><br><br><br>
            Recoveries    <br>
            ---------------------------------<br>
            Net Payable   <br>
            --------------------------------<br>

        </th>
        <th width="2%"><br>
            :<br>
            :<br>
            :<br>
            --------<br>
            :<br>
            <br><br><br><br>
            :<br>
            --------<br>
            :<br>
            --------<br></th>
        <th class="title_right" width="10%">
              {{total_amountsum_detail01|floatformat:2}}<br>
                {{total_pelsum_detail01|floatformat:2}}<br> 
                 {{total_additions1|floatformat:2}} <br>
             -------------------<br>
               {{total_totalsum001|floatformat:2}}<br>
               <br><br><br><br>
               {{total_recoveries1|floatformat:2}}<br>
             -------------------<br>
               {{total_netvalue1|floatformat:2}} <br>
             -------------------


        </th><th></th>
    </tr>
    <tr>
        <th><br><br><br> Milk Value/Ltr <br>

        Avg. Per Day </th>
        <th><br><br><br>
            :<br>
            :<br>
        </th>
        <th class="title_right"><br><br><br>
             {{total_milkvalue1|floatformat:2}}<br>
             {{total_rateltr1|floatformat:2}}<br>


        </th>

        <th>
            
        </th>
        <th>
            
        </th>
    </tr>
    <br>
</table>
<table id="header-fixed"></table>

 
    </body>
<script type="text/javascript">
var tableOffset = $("#table-1").offset().top;
var $header = $("#table-1 > thead").clone();
var $fixedHeader = $("#header-fixed").append($header);

$(window).bind("scroll", function() {
    var offset = $(this).scrollTop();

    if (offset >= tableOffset && $fixedHeader.is(":hidden")) {
        $fixedHeader.show();
    }
    else if (offset < tableOffset) {
        $fixedHeader.hide();
    }
});
</script>

</html>