{% extends "header.html" %}
{% block title %}Ls Milks{% endblock %}
{% block description %}{% endblock %}
{% block keyword %}{% endblock %}
{% load static %}
{% load mathfilters %}
{% block content %}
<link href='https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css' rel='stylesheet'> 
<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script> 
<script src= "https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"> </script>
<style>
select {
	width: 100px;
     margin: 10px;
}
#select:focus {
    min-width: 150px;
    width: auto;
}

input[type=text],input[type=email],input[type=password],input[type=number],select {
  width: 20%;
  padding: 6px;
  border:  1px solid #D3D3D3;
  border-radius: 4px;
  resize: vertical;
}
	</style>
<div class="container"><br>
	<h2><b><center>Referral</center></b></h2><br>
	<form  method="POST" action="" enctype="">
		{% csrf_token %}
		&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<label>Referral Code &nbsp;&nbsp;&nbsp;  </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input class="border-right" type="text" name="referralcode" placeholder="Enter Referral code" required=""><br><br>
		<button type="submit" class="btn btn-primary btn-lg" id="getdata">Submit</button>
		<br>
	</form>
</div>
{% for message in messages %}
{{ message }}
{% endfor %}


{% endblock %}