{% extends "header.html" %}
{% block title %}Ls Milks{% endblock %}
{% block description %}{% endblock %}
{% block keyword %}{% endblock %}
{% load static %}
{% block content %}
    <form action="/report/" method="POST">
        {% csrf_token %}
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
              <!--  <button type="submit" class="Submit_form" name="phone" value="Telephone Bills">Telephone</button>
                <button type="submit" class="Submit_form" name="phone" value="Loans">loan</button>
                <button type="submit" class="Submit_form" name="phone" value="Misllanious">misllanious</button>
                <button type="submit" class="Submit_form" name="phone" value="Salary">Salary</button>
                <button type="submit" class="Submit_form" name="phone" value="Fee Collection">Fee</button>
                <button type="submit" class="Submit_form" name="phone" value="Current Bill">Current</button>
                <button type="submit" class="Submit_form" name="phone" value="suspense">Suspense</button>
                <button type="submit" class="Submit_form" name="phone" value="Rent">Rent</button>
                <button type="submit" class="Submit_form" name="phone" value="Transportation">Transport</button>-->
                <button type="submit" class="Submit_form" name="" value=""><a href="/bank_report/">Bank reports</button>
				<button type="submit" class="Submit_form" name="" value=""><a href="/day_wise/">day_wise report</button>
                <button type="submit" class="Submit_form" name="" value=""><a href="/daily_data/">Daily reports</button>
                <button type="submit" class="Submit_form" name="" value=""><a href="/center_wise/">center_wise report</a></button>
            </div>
        </div>
	</form>	
	<!-- <section class="ftco-section">
    	<div class="container">
    		<div class="row">
        	<div class="col-md-6 col-lg-3 ftco-animate">
        		<div class="pricing-entry bg-light pb-4 text-center">
        			<div>
	        			<h3 class="mb-3">Basic</h3>
	        			<p><span class="price">$24.50</span> <span class="per">/ 5mos</span></p>
	        		</div>
	        		<div class="img" style="background-image: url(images/bg_1.jpg);"></div>
	        		<div class="px-4">
	        			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        			</div>
        			<p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Take A Course</a></p>
        		</div>
        	</div>
        	<div class="col-md-6 col-lg-3 ftco-animate">
        		<div class="pricing-entry bg-light pb-4 text-center">
        			<div>
	        			<h3 class="mb-3">Standard</h3>
	        			<p><span class="price">$34.50</span> <span class="per">/ 5mos</span></p>
	        		</div>
	        		<div class="img" style="background-image: url(images/bg_2.jpg);"></div>
        			<div class="px-4">
	        			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        			</div>
        			<p class="button text-center"><a href="#" class="btn btn-secondary px-4 py-3">Take A Course</a></p>
        		</div>
        	</div>
        	<div class="col-md-6 col-lg-3 ftco-animate">
        		<div class="pricing-entry bg-light active pb-4 text-center">
        			<div>
	        			<h3 class="mb-3">Premium</h3>
	        			<p><span class="price">$54.50</span> <span class="per">/ 5mos</span></p>
	        		</div>
	        		<div class="img" style="background-image: url(images/bg_3.jpg);"></div>
        			<div class="px-4">
	        			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        			</div>
        			<p class="button text-center"><a href="#" class="btn btn-tertiary px-4 py-3">Take A Course</a></p>
        		</div>
        	</div>
        	<div class="col-md-6 col-lg-3 ftco-animate">
        		<div class="pricing-entry bg-light pb-4 text-center">
        			<div>
	        			<h3 class="mb-3">Platinum</h3>
	        			<p><span class="price">$89.50</span> <span class="per">/ 5mos</span></p>
	        		</div>
	        		<div class="img" style="background-image: url(images/bg_5.jpg);"></div>
        			<div class="px-4">
	        			<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        			</div>
        			<p class="button text-center"><a href="#" class="btn btn-quarternary px-4 py-3">Take A Course</a></p>
        		</div>
        	</div>
        </div>
    	</div>
    </section> -->
{% endblock %}