{% extends "header.html" %}
{% block title %}Ls Milks{% endblock %}
{% block description %}{% endblock %}
{% block keyword %}{% endblock %}
{% load static %}
{% load mathfilters %}
{% block content %}
<script> 
    $(document).ready(function() { 
        $(function() { 
            $( "#my_date_picker" ).datepicker(); 
        }); 
    }) 
</script> 
<script>
$(document).ready( function() {
    var now = new Date();
 
    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);

    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;


   $('#datePicker').val(today);
});</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<style type="text/css">
	table 
	{
	  border-collapse: collapse;
	  /*width: 100%;*/
	}
	td, th 
	{
  		border: 1px solid #dddddd;
  		text-align: left;
  		padding: 8px;
	}
	.no_pad{
		padding-left:0px;
		padding-right: 0px;
	}
</style>
<div class="container">
	<div style="border:1px solid #dddddd;padding:10px;margin:10px;">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<form  method="POST"  action="/transaction/" enctype="">
				{% csrf_token %}
				<h6>Milk in Entry </h6>
				<label for="fname"> Date </label>
				<input type="date" id="datePicker" name="dateform" placeholder="Enter MM/DD/YYYY" required="">
				<!-- <select name="time">
				    <option value="am">am</option>
				    <option value="pm">pm</option>
			  	</select> --><br>
			  	<label> Center Code </label>
			  	<select name="centercode" id="centercode">
			  	{% for cowmilkrate in cowmilkrate %}
			  		<option value="{{cowmilkrate.Routecode}}">{{cowmilkrate.Routecode}}</option>
			  	{% endfor %}
			  	</select><br>
			  	<button type="submit" class="Submit_form" value=""><b>Submit</b></button>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	// $("#centercode").change(function() {
 //         this.form.submit();
 //    });
  /*  function Amount(val) {
        var fat = document.getElementById('fat').value;
        var rate = document.getElementById('rate').value;
        var qty = document.getElementById('qty').value;
        var snf = document.getElementById('snf').value;
        var quantity = parseFloat(qty)/parseFloat(1.03);
        var total_amount = parseFloat(rate) * parseFloat(quantity);
        var tot_price = ((parseFloat(val) + parseFloat(snf)) * parseFloat(rate))/100;        
        var amount = document.getElementById('amount');
        var total = document.getElementById('total');
        total.value = total_amount;
        amount.value = tot_price;
        snf.value = tot_price;
    }*/
</script>
{% endblock %}