{% extends "header.html" %}
{% block title %}Ls Milks{% endblock %}
{% block description %}{% endblock %}
{% block keyword %}{% endblock %}
{% load static %}
{% block content %}
<link href='https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css' rel='stylesheet'> 
<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script> 
<script src= "https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"> </script>
<script> 
    $(document).ready(function() { 
        $(function() { 
            $( "#my_date_picker" ).datepicker(); 
        }); 

    }) 
	$( ".start_date" ).datepicker({
	  defaultDate: +7
	});

</script> 
<script>
$(document).ready( function() {
    var now = new Date();
 
    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);

    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;


   $('#datePicker').val(today);
});</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-xs-12">
			<br><button type="button"><a href="/userreport/pdf/{{uname}}/{{groupname}}/" target="_blank"> PDF Download</a></button>&emsp;
			<button type="button"><a href="/excel-user-report/{{uname}}/{{groupname}}/" target="_blank"> Excel Download</a></button><br>
			<form method="POST" action="/users_data/" enctype=""><br>
				{% csrf_token %}
				<label for="uname"><b>Username</b>  </label>
				<select name="username">
				    <option value="all">All</option>
				    {% for user in user %}
						    <option value="{{user.username}}">{{user.username}}</option>
				  	{% endfor %}
			  	</select>
			  	<label for="groupname"><b>Group</b>  </label>
				<select name="groupname">
				    <option value="all">All</option>
				    {% for group in group %}
						    <option value="{{group.name}}">{{group.name}}</option>
				  	{% endfor %}
			  	</select>
			  	<!--<label for="fname"><b>Center</b> </label>
				<select name="centercode">
				    <option value="all">All</option>
				    {% for center in center %}
						    <option value="{{center.centre_code}}">{{center.centre_code}}</option>
				  	{% endfor %}
                  </select>-->
     
				  <button type="submit" class="btn btn-primary btn-lg" id="getdata" value=""> Get Data </button>
				<br><br>
			</form>
			<table>
				<thead>
					<tr>
   						 <th colspan="5" class="title_dash" style="text-transform: capitalize;background-color: #5d50c6 !important;">User Data</th>
  					</tr>
  				</thead>
			</table>
			<table>
				<thead style="background-color: #69bc5f !important;" id="centershow">
					<tr>
						<!-- <th width="30%" class="school_activity"><center> <label ><b>&emsp;&emsp;Center</b>&emsp;:&emsp;</label>
				  		<select name="category_cow">
						 <option value="">All</option>
					  	{% for center in dc %}
							    <option value="{{center.centercode}}">{{center.centercode}}</option>
					  	{% endfor %}
					  	</select></th> -->
						<!--<th width="10%" class="school_activity">Receviable</th>
						<th width="10%" class="school_activity">Payment</th>-->
						
					</tr>
				</thead>
			</table>
				<table id="centerhide">
				<thead style="background-color: #69bc5f !important;">
					<tr>
						
						<th width="10%" class="school_activity">Username</th>
                        <th width="10%" class="school_activity">Email</th>
                        <th width="10%" class="school_activity">Groups</th>
                        <th width="10%" class="school_activity">Role</th>
						<th width="10%" class="school_activity">IsActive</th>
						<th width="10%" class="school_activity">Lastlogin</th>
						<th width="10%" class="school_activity">Date Joined</th>
						
						
						<!--<th width="10%" class="school_activity">Receviable</th>
						<th width="10%" class="school_activity">Payment</th>-->
					</tr>
				</thead>
				<tbody>
					{% for unn in unn%}
					<tr>
						<td>{{unn.username}}</td>
						<td>{{unn.email}}</td>
						<td>{{unn.gname}}</td>
						<td>{{unn.role}}</td>
						<td>{{unn.isactive}}</td>
						<td>{{unn.lastlogin}}</td>
						<td>{{unn.datejoined}}</td>
						
						
					</tr>
					{% endfor %}
				</tbody>
			</table><br><br>
		</div>
	</div>
</div>
<script src="{% static 'js/ajax-jquery.min.js' %}"></script>
<script type="text/javascript">
/*$("#displaytable").hide();
*/
$(document).ready(function(){
	/*$("#centerhide").hide()
		$('#centershow').click(function() {
		
			

			$("#centerhide").show()
			
		
	});*/
});

$(document).ready(function(){

    $('[name="start_date"]').val( '{{start_of_yr | date:"m/d/yy"}}' );
    $('[name="end_date"]').val( '{{end_of_yr | date:"m/d/yy"}}' );
});
</script>
{% endblock %}